{% extends 'user/layout1.html'%}
{% block title%} {{session['user']}} {% endblock %}

{% block statement %}


<p class="display-4 color1">Welcome, {{session['user']}} </p>
<p class="lead color2">
We would like to hear from you. Please fill the form let us know your thoughts..
</p>
{% set msg = get_flashed_messages(with_categories=True)%}
{% if msg %}
{% for i in msg %}
{% if i[0] == 'error'%}
<p class="alert alert-danger">{{i[1]}}</p>
{% else %}
<p class="alert alert-success">{{i[1]}}</p>
{% endif %}
{% endfor %}
{% endif %}
<div class="bg-dark col-7 p-3">
{% include "user/nav.html" %}
</div>

{% endblock %}

{% block form %}

{% macro sumtotal(param) %}
{{ t.append(param) }}
{% endmacro %}

<div class="p-3 mt-5">
    <p>You are about to pay for the folloing items, your transaction ref is {{ session.get('reference')}}</p>

<form method="post" action="{{ url_for('asoebi')}}">
    <table class="table table-striped">
        <tr>
            <th>Serial</th>
            <th>Uniform</th>
            <th>Price</th>
        </tr>  
         
      {% for orders,details,uniform in deets %}
      
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ uniform.uni_name}}</td>
        <td>{{details.det_itemprice}}  </td>
      </tr>
    
      {% endfor %}
      <tr>
        <td>TOTAL</td>
        <td colspan="2">{{ total }}</td>
      </tr>
</table>
    <div class="d-flex btn-group">
     
        <a href="/initialize_paystack" class="btn btn-lg color3 d-inline-block" style="border:2px solid #a8c868;">PAY NOW</a>
      
    </div>
</form>
 
</div>
{% endblock%}