<a href="/user/edit" class="btn-link lead color1 d-block mb-3 px-3">Edit Profile</a>
<a href="/user/upload" class="btn-link lead color1 d-block mb-3 px-3">Upload Profile Picture</a>
<a href="/registry" class="btn-link lead color1 d-block mb-3 px-3">Gift Registry</a>
<a href="/forum" class="btn-link lead color1 d-block mb-3 px-3">Forum</a>
<a href="/accommodation" class="btn-link lead color1 d-block mb-3 px-3"> Accommodation</a>
<a href="/asoebi" class="btn-link lead color1 d-block mb-3 px-3">Buy Aso Ebi</a>
<a href="/ajaxtests" class="btn-link lead color1 d-block mb-3 px-3">AJAX Demo</a>
<a href="/user/logout" class="btn-link lead color1 d-block mb-3 px-3">Logout</a>  