{% extends 'user/layout1.html'%}
{% block title%} {{session['user']}} {% endblock %}

{% block statement %}
<p class="display-4 color1">Welcome, {{session['user']}} </p>
<p class="lead color2">
We would like to hear from you. Please fill the form let us know your thoughts..
</p>

<div class="bg-dark col-7 p-3">
{% include "user/nav.html" %}
</div>

{% endblock %}

{% block form %}
<div class="p-3 mt-5">
    {% set msg = get_flashed_messages(with_categories=True)%}
{% if msg %}
{% for i in msg %}
{% if i[0] == 'error'%}
<p class="alert alert-danger">{{i[1]}}</p>
{% else %}
<p class="alert alert-success">{{i[1]}}</p>
{% endif %}
{% endfor %}
{% endif %}

{#{{ guest_deets }}#}
{% if guest_deets.guest_image !='' %}
<img src="{{ url_for('static', filename='uploads/'+guest_deets.guest_image) }}" width="200">
{% else %}
<a href="/user/upload">Click here to upload picture</a>
{% endif %}


<form id="paymentForm">

    <div class="form-group">
  
      <label for="email">Email Address</label>
  
      <input type="email" id="email-address" required />
  
    </div>
  
    <div class="form-group">
  
      <label for="amount">Amount</label>
  
      <input type="tel" id="amount" required />
  
    </div>
  
    <div class="form-group">
  
      <label for="first-name">First Name</label>
  
      <input type="text" id="first-name" />
  
    </div>
  
    <div class="form-group">
  
      <label for="last-name">Last Name</label>
  
      <input type="text" id="last-name" />
  
    </div>
  
    <div class="form-submit">
  
      <button type="submit" onclick="payWithPaystack()"> Pay </button>
  
    </div>
  
  </form>
  
<script src="https://js.paystack.co/v1/inline.js"></script> 
<script>
    const paymentForm = document.getElementById('paymentForm');

paymentForm.addEventListener("submit", payWithPaystack, false);

function payWithPaystack(e) {

  e.preventDefault();


  let handler = PaystackPop.setup({

    key: 'pk_test_xxxxxxxxxx', // Replace with your public key

    email: document.getElementById("email-address").value,

    amount: document.getElementById("amount").value * 100,

    ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you

    // label: "Optional string that replaces customer email"

    onClose: function(){

      alert('Window closed.');

    },

    callback: function(response){

      let message = 'Payment complete! Reference: ' + response.reference;

      alert(message);
      

    }

  });


  handler.openIframe();

}
</script>
</div>
{% endblock%}