{% extends 'admin/admin_panel.html' %}
{% block contents %}
<h2>ADD NEW GIFT</h2>
<div class="my-2 row">
   <p><a href="{{ url_for('admin_dashboard')}}">Home </a> / <a href="/admin/managegifts"> Manage Gifts</a> / Add New Gift</p>
</div>
<div class="row">
    <div class="col-10 offset-1">
        <form action="{{ url_for('add_gift')}}" method="post">
             
            <div class="my-3 row">
            <label class="col-md-2">Gift Name</label>               
            <div class="col-md-8">
                <input type="text" name="giftname" class="form-control">
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-primary">Add</button>
            </div>
            </div>
        </form>
    </div>

</div>
{% endblock contents %}
